* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: blueviolet;
}

.items {
    margin-top: 20px;
    display: flex;
    
}

.item{
    height: 20px;
    width: 50px;
    background-color: green;
}

.item1{
    height: 20px;
    flex-grow: 1;
}

